# =========================================
# TrevoOne API
# Configuração de Ambiente
# =========================================

NODE_ENV=development

PORT=3001

DB_HOST=localhost
DB_PORT=3306
DB_NAME=trevoone
DB_USER=root
DB_PASSWORD=

JWT_SECRET=troque-esta-chave-por-uma-chave-segura

CORS_ORIGIN=http://localhost:5173
